# Proyecto ML Taxi. NB1: Limpieza de datos y creación de dataframe

### En este notebook se describe el proceso de obtención de datos, limpieza y generación del dataframe final con el que se trabajarán los modelos de ML.

### Obtención del dataset

In [1]:
from datasets import load_dataset #
df = load_dataset("Chendi/NYC_TAXI_FARE_CLEANED")
df=df["train"].to_pandas()

c:\Users\Gerardo\anaconda33\envs\taxi_en\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### Limpieza de datos y adeción de columnas para fecha y hora por separado

In [7]:
from functions_limpieza import limpieza1
df=limpieza1(df)

Se eliminaron 0 por valores nulos, es decir, el -99.0% de los datos.

### Reducción del dataframe a 1M de datos

In [22]:
df_sample=df.sample(1000000) #Se toma una muestra de 1M de datos del data originial.

### Cálculo de la distancia entre los puntos de salida y llegada

In [ ]:
from functions_limpieza import calcular_distancia
df_final=calcular_distancia(df_sample,"pickup_latitude","pickup_longitude","dropoff_latitude","dropoff_longitude")

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,hour,date,distance
9760151,9.5,2014-08-06 04:45:10+00:00,-74.006439,40.743861,-73.978597,40.752373,1,4,2014-08-06,2.529182
43067936,5.7,2012-02-07 19:25:28+00:00,-73.961340,40.756958,-73.975255,40.753028,1,19,2012-02-07,1.250890
20990567,11.3,2009-02-28 17:21:00+00:00,-73.983705,40.676297,-74.001302,40.708610,1,17,2009-02-28,3.887292

### Creación de datafreme final en archivo csv

In [26]:
df_final.to_csv('df_final.csv', index=False, encoding='utf-8')